body {
    margin: 0;
    background-color: #F4F4F4;
}
img {
    width: 100%;
}
/* PE TOT ECTRANUL */

.imaginetest {
    display: inline;
    width: 330px;
    height: 30px;
}

.containerleftright {
    margin-left: 350px;
    margin-right: 350px;
}

/* CAROUSEL COMUN */

.carousel-container {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    /* overflow: hidden; */
    /* width: 1200px; */
}
.boxside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
.boxside-icon {
    font-size: 50px;
}
.boxside-title {
    margin: 0px;
}
.carousel-arrow {
    display: flex;
    align-items: center;
    font-size: 30px;
}
.carousel-case {
    width: 200px;
    background-color: #F4F4F4;
    text-align: center;
    /* padding: 10px; */
    position: relative;
}
.carousel-case h3, .carousel-case p {
    margin: 10px 0px;
}

.carousel-case span {
    text-decoration: line-through;
}

.wrapper {
    display: flex;
    overflow: hidden;
    width: 50em;
}
.inner {
    display: flex;
    transition: all 1s ease-in-out;
  }




/* PROMOTII */
#promotions {
    background-color: #f0554d;
}
.discount {
    background-color: #f0554d;
    width: 25%;
    height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NOUTATI */
#news {
    background-color: #287275;
}

/* RECOMANDARI */
#recommendations {
    background-color: #f5ceb1;
}


ul {
    list-style: none;
    margin-top: 0;
}
