.spaceleftright {
    margin-left: 350px;
    margin-right: 350px;
}
.boxes {
    display: flex;

}
.filter {
    width: 35%;
    height: 100%;
}
.filter button {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
    margin-left: 10px;
}

.imagehover :hover {
    background-color: rgba(211, 211, 211, 0.473);
}

.marketing {
    background-color: rgba(211, 211, 211, 0.274);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.marketing button {
    height: 20%;
    padding: 7px 20px;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 10px;
}