.spaceleftright {
    margin-left: 350px;
    margin-right: 350px;
}
.boxes {
    display: flex;

}
.filter {
    width: 15%;
    height: 100%;
    margin-right: 20px;
}

.filter label {
    font-weight: bold;
    color: darkred;
}
.filter button {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    margin-left: 10px;
}
.card h3, .card p {
    margin: 10px 0px;
    text-align: center;
}

.card span {
    text-decoration: line-through;
}
.imagehover :hover {
    background-color: rgba(211, 211, 211, 0.473);
}

.marketing {
    background-color: rgba(211, 211, 211, 0.274);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}

.marketing button {
    height: 20%;
    padding: 7px 20px;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 10px;
}

.browsing {
    font-size: 20px;
}