.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.leftside-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.800)), url(images/signin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 401px;
    height: 474px;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
}

.social-box{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10%;
    width: 20%;  
}

.rightside-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient( to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.568));
    width: 600px;
    height: 474px;
    padding: 1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

input:not([type='submit']) {
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    padding: 0.5em;
    color: #1c1e21;
}

input[type='submit'] {
    background-color: darkred;
    height: 36px;
    border: none;
    border-radius: 10px;
    padding: 0 32px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: white;  
}

input[type='submit']:hover{
    background-image: linear-gradient(rgb(188, 100, 100), rgb(136, 67, 67));
}

.commands-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#member {
    color: white;
}

h2 {
    margin: 0px;
}

#message {
    display: none;
}

.social-box a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}